<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/97045d8aa4.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <%-include("../partials/header.ejs") %>
    
        <h2 class="product-titulo">Seccion Rolls</h2>
            <div class="conteiner-roll">
                <% roll.forEach(({id,nombre,precio,categoria,imagen}) => { %>
                    
                <article>
                    <div class="producto">
                        <a href="/productos/detalle/<%= id %>">
                            <img src="/images/<%= imagen %>" alt="producto">
                        
                            <div class="nombre">
                                <p><%= nombre %></p></div>
                            <div class="precio">
                               <span> <h2>$<%= precio %></h2></span>
                            </div> 
                            <button type="submit" class="boton-comprar">Comprar</button>
                            
                        </a>
                        </div>
                    </article>
                
                    <% }) %>
            </div>
            <h2 class="product-titulo">Seccion Niguiris</h2>
                <div class="producto-niguiris">
                    <% niguiri.forEach(({id,nombre,precio,categoria,imagen}) => { %>
                        
                    <article class="conteiner-niguiris">
                        <div class="producto">
                            <a href="/productos/detalle/<%= id %>">
                                <img src="/images/<%= imagen %>" alt="producto">
                            
                                <div class="nombre">
                                    <p><%= nombre %></p>
                                </div>
                                <div class="precio">
                                   <span> <h2>$<%= precio %></h2></span>
                                </div> 
                                
                                <button type="submit" class="boton-comprar">Comprar</button>
                            </a>
                            </div>
                        </article>
                    
                        <% }) %>
            </div>
           <section>
            <div>
            <h3 class="titulo-comentarios">comentarios de nuestros clientes</h3>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
            <div class="comentarios">
                <p>Excelente calidad y servicio</p>
                <p>Los mejores rolls de la ciudad</p>
                <p>Recomendado</p>
            </div>
           </section>
        </div>
        <%-include("../partials/footer.ejs") %>
    

</html>