
<%-include("../partials/headerAdm") %>
<body>
    

<main class="table-admin">

    <div class="titulo-admin">
        <h1 class="text-center">Administrar productos</h1>
    </div>
    <div>
        <a href="/productos/productCrear" class="btn-table">+ Crear productos</a>
    </div>
    <div class="class-table">
        <table>
            <thead>
                
                <tr>
                    <th>#</th>    
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Piezas</th>
                    <th>Categoria</th>
                    <th>acciones</th>
                </tr>                        
            </thead>
            <tbody>
                <% products.forEach(({id,name,price,pieces,category})=> { %>

                    <tr>
                        <td>
                        <%=id %>
                        </td>
                        <td>
                            <%= name %>
                        </td>
                        <td>
                            $<%= price %>
                        </td>
                        <td>
                            <%= pieces %> ud.
                        </td>
                        <td>
                            <%= category.name %>
                        </td>
                        <td>
                            <div>
                                <a href="/productos/editar/<%=id %>" class="btn-table">editar</a>
                            </div>
                            <form action="/productos/borrar/<%= id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn-eliminar">borrar</button>
                            </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</main>
</body>