    <%- include("../partials/head.ejs") %>
    <%-include("../partials/header.ejs") %>
        <main>
            <section>
                <div class="caja1-form">
                    <div class="container-formulario">
                        <h2>Registro</h2>
                        <form action="/users/register" method="POST">
                            <div>
                                <label for="nombre">nombre:</label>
                                <input type="text" id="nombre" name="nombre" value="<%= locals.nombre ? nombre :null  %>" >
                            </div>
                            
                            <% if(locals.errores && locals.errores.nombre) {%>
                                <p class="msg-error"> <i class="fa-solid fa-circle-exclamation"></i><%= errores.nombre.msg %></p>
                              <% } %>
                            <div>
                                <label for="apellido">Apellido:</label>
                                <input type="text" id="apellido" name="apellido" value="<%= locals.apellido ? apellido : "" %>">
                            </div>
                            <% if(locals.errores && locals.errores.apellido) {%>
                                <p class="msg-error"> <i class="fa-solid fa-circle-exclamation"></i><%= errores.apellido.msg %></p>
                              <% } %>



                            <div>
                                <label for="contrasena">Contraseña:</label>
                                <input type="password" id="contrasena" name="contrasena" >
                            </div>
                            <% if(locals.errores && locals.errores.contrasena) {%>
                                <p class="msg-error"> <i class="fa-solid fa-circle-exclamation"></i><%= errores.contrasena.msg %></p>
                              <% } %>


                            <div>
                                <label for="contrasena">Repetir Contraseña:</label>
                                <input type="password" id="contrasena" name="contrasena2" >
                            </div>
                            <% if(locals.errores && locals.errores.contrasena2) {%>
                                <p class="msg-error"> <i class="fa-solid fa-circle-exclamation"></i><%= errores.contrasena2.msg %></p>
                              <% } %>


                            <div>
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" value="<%= locals.email ? email : "" %>">
                            </div>
                            <% if(locals.errores && locals.errores.email) {%>
                                <p class="msg-error"> <i class="fa-solid fa-circle-exclamation"></i><%= errores.email.msg %></p>
                              <% } %>
                            <button type="submit">Registrarse</button>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <%-include("../partials/footer.ejs") %>